:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --third-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --fourth-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-button-color: #ffffff;
  --main-header-text-color: #212121;
  --second-header-text-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*-------------СТУДИЯ--------------*/

/*-------------HEADER--------------*/

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo {
  color: var(--accent-color);
}

.header-logo-studio {
  color: var(--main-header-text-color);
}

.header-link {
  color: var(--main-header-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/*------------HERO-----------*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
  background-color: #2f303a;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-button-color);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button {
  cursor: pointer;
}

/*------СЕКЦИЯ ОСОБЕННОСТИ------*/


.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.particular-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.particular-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*-----CЕКЦИЯ ЧЕМ ЗАНИМАЕМСЯ-----*/

.we-do-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/*------ НАША КОМАНДА------*/

.teams-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.teams-second-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.teams-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*-----FOOTER----*/
.address-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  background-color: #2f303a;
}

.address-logo-studio {
  color: var(--third-text-color);
}

.address-maps {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background: #2f303a;
}

.address-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
}

.address-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
}

.
/*---------ПОРТФОЛИО---------*/

/*--------КНОПКИ ФИЛЬТРА--------*/


.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.filter-button {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em
color: var(--second-text-color);
}

.filter-button:hover,
.filter-button:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*------ПРИМЕРЫ РАБОТ----*/

.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.examples-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
